package ${basePackage}.${moduleName}.dao;

import com.base.dao.AbstractDao;
import com.base.util.SidGenerator;
import org.springframework.stereotype.Component;
import ${basePackage}.${moduleName}.entity.$className;
import com.base.dto.BaseDto;
import com.base.dto.PageResult;
import com.base.dto.Pager;
import com.base.dto.WhereCond;
import java.util.ArrayList;
import java.util.List;
import org.apache.commons.lang.StringUtils;

/**
 * by E.E's code Generator. 
 * @author liangrl
 * @date   $date
 *
 */
@Component
public class $daoName extends AbstractDao{

	
	/**
	 * return primary key
	 * @param entity
	 * @throws Exception
	 */
	public String create($className entity) throws Exception{
		if(StringUtils.isEmpty(entity.getId())){
			entity.setId(SidGenerator.getId());
		}	
		super.insert(${className}.class, entity, false);
		
		return entity.getId(); 
	}

	/**
	 * delete by primary key
	 * @param entity
	 * @throws Exception
	 */
	public Integer delete($className entity) throws Exception{
		return super.del(${className}.class, entity.getId());
	}

	/**
	 * 
	 * @param entity
	 * @param dto
	 * @param pager
	 * @throws Exception
	 */	
	public PageResult<${className}> getPage(${className} entity, BaseDto dto, Pager pager) throws Exception{
		PageResult<${className}> result = new PageResult<${className}>();
		
		Integer currentPageNo = null;
		if(dto.currentPageNo==null){
			currentPageNo=1;
		}else{
			currentPageNo = Integer.parseInt(dto.currentPageNo);
		}
		if(currentPageNo<1){
			currentPageNo=1;
		}
		pager.setPageNo(currentPageNo);
		pager.setPageSize(BaseDto.defaultPageSize);
		
		List<${className}> list= this.getList(entity, dto, pager);
		Integer count = this.getCount(entity, dto);
		
		result.setCurrentPageNo(currentPageNo);
		result.setList(list);
		result.setTotalRecord(count);
		result.setPageSize(BaseDto.defaultPageSize);
		
		return result;
	}
	
	public Integer update(${className} entity){
		//TODO:
		return 0;
	}
	
	/**
	 * 
	 * @param entity
	 * @param dto
	 * @throws Exception
	 */
	public Integer getCount(${className} entity, BaseDto dto){
	
		String sql = "select count(*) from ${TBName} where 1=1 ";
		
		WhereCond wc = this.appendWhereCond(entity, dto);
		sql += wc.getWhereCond();
		
		return this.getCount(sql, wc.getParams().toArray());
	}
	
	
	/**
	 * 
	 * @param entity
	 * @param dto
	 * @param pager
	 * @throws Exception
	 */	
	public List<${className}> getList(${className} entity, BaseDto dto, Pager pager) throws Exception{
		
		String sql = "select * from ${TBName} where 1=1 ";
		WhereCond wc = this.appendWhereCond(entity, dto);
		
		sql += wc.getWhereCond();
		if(pager==null){
			return this.getList(ViewUserInfo.class, sql, wc.getParams().toArray());
		}else{
			Integer offset = pager.getPageNo()==1?0:(pager.getPageNo()-1)*BaseDto.defaultPageSize;
			sql += String.format("limits %s, %s", offset, pager.getPageSize());
			
			return this.getList(ViewUserInfo.class, sql, wc.getParams().toArray());
		}
	}
	

	private WhereCond appendWhereCond(${className} entity, BaseDto dto){
		StringBuilder where = new StringBuilder();
		
		List<Object> params = new ArrayList<Object>();
		
		//TODO: condition...
		
		WhereCond wc = new WhereCond(where.toString());
		wc.setParams(params);
		return wc;
	}
	
}