package ${basePackage}.${moduleName}.dao;

import com.base.dao.AbstractDao;
import com.base.util.GUID;
import org.springframework.stereotype.Component;
import ${basePackage}.${moduleName}.entity.$className;
import com.base.dto.BaseDto;
import com.base.dto.PageResult;
import com.base.dto.Pager;
import com.base.dto.WhereCond;
import java.util.ArrayList;
import java.util.List;

/**
 * by E.E's code Generator
 * @author liangrl
 * @date   $date
 *
 */
@Component
public class $daoName extends AbstractDao{

	
	/**
	 * return primary key
	 * @param entity
	 * @throws Exception
	 */
	public String create($className entity) throws Exception{
		if(StringUtils.isEmpty(entity.getId())){
			entity.setId(GUID.nextUUID());
		}	
		super.insert(${className}.class, entity, false);
		
		return entity.getId(); 
	}

	/**
	 * delete by primary key
	 * @param entity
	 * @throws Exception
	 */
	public Integer delete($className entity) throws Exception{
		return super.del(${className}.class, entity.getId());
	}

		
	public PageResult<${className}> getPage(${className} entity, BaseDto dto, Pager pager){
		PageResult<${className}> result = new PageResult<${className}>();
		
		Integer currentPageNo = null;
		if(dto.currentPageNo==null){
			currentPageNo=1;
		}else{
			currentPageNo = Integer.parseInt(dto.currentPageNo);
		}
		if(currentPageNo<1){
			currentPageNo=1;
		}
		pager.setPageNo(currentPageNo);
		pager.setPageSize(BaseDto.defaultPageSize);
		
		List<${className}> list= this.getList(entity, dto, pager);
		Integer count = this.getCount(entity, dto);
		
		result.setCurrentPageNo(currentPageNo);
		result.setList(list);
		result.setTotalRecord(count);
		result.setPageSize(BaseDto.defaultPageSize);
		
		return result;
	}
	
	public Integer update(${className} entity){
		//TODO:
		return 0;
	}
	
	public Integer getCount(${className} entity, BaseDto dto){
		this.appendWhereCond(entity, dto);
		//TODO:
		return 0;
	}
	
	public List<${className}> getList(${className} entity, BaseDto dto, Pager pager){
		this.appendWhereCond(entity, dto);
		//Integer offset = pager.getPageNo()==1?0:(pager.getPageNo()-1)*BaseDto.defaultPageSize;
		
		//TODO:
		return null;
	}
	

	private WhereCond appendWhereCond(${className} entity, BaseDto dto){
		StringBuilder where = new StringBuilder();
		
		List<Object> params = new ArrayList<Object>();
		
		WhereCond wc = new WhereCond(where.toString());
		wc.setParams(params);
		return wc;
	}
	
}