package ${basePackage}.${moduleName}.service;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import com.base.dto.BaseDto;
import com.base.dto.PageResult;
import com.base.dto.Pager;
import java.util.ArrayList;
import java.util.List;

import com.module.${moduleName}.dao.${daoName};
import ${basePackage}.${moduleName}.entity.${className};

/**
 * by E.E's code Generator
 * @author liangrl
 * @date   $date
 *
 */
@Service
public class $serviceName {

	@Autowired
	private $daoName dao;
	
	
	/**
	 * 
	 * @param entity
	 * @return
	 * @throws Exception
	 */
	public String create($className entity) throws Exception{
		return dao.create(entity);
	}	

	/**
	 * 
	 * @param entity
	 * @throws Exception
	 */
	public Integer delete($className entity) throws Exception{
		return dao.delete(entity);
	}

	/**
	 * 
	 * @param entity
	 * @throws Exception
	 */
	public Integer update(${className} entity){
		return dao.update(entity);
	}

	/**
	 * 
	 * @param entity
	 * @param dto
	 * @param pager
	 * @return
	 */
	public List<$className> getList($className entity, BaseDto dto, Pager pager){
		return dao.getList(entity, dto, pager);
	}
	
	/**
	 * 
	 * @param entity
	 * @param dto
	 * @param pager
	 * @return
	 */
	public PageResult<$className> getPage($className entity, BaseDto dto, Pager pager){
		return dao.getPage(entity, dto, pager);
	}
	
}