#if($!{packageName})
package $packageName;
#end



import java.io.Serializable;
import java.util.Date;

import javax.persistence.Column;
import javax.persistence.Id;
import javax.persistence.Table;

import org.springframework.stereotype.Component;

/**
 * 
 * @author liangrl
 * @date   $date
 *
 */
@Component
@Table(name="$TBName")
public class $DDLName implements Serializable{
 
 	private static final long serialVersionUID = 1L;
 	
 	#foreach ($temp in $columnList)
	#if($temp.isPK())@Id#end
	
	@Column(name = "$temp.getdBFieldName()")
	private $temp.getFieldType() $temp.getFieldName();
	
	#end
 	
 	/************ getter and setter **************/
 	
	#foreach ($temp in $columnList)
	
	public $temp.getFieldType() get$temp.getFirsetLetterUppercaseFieldName()(){
		return this.$temp.getFieldName();
	}
	
	public void set$temp.getFirsetLetterUppercaseFieldName()($temp.getFieldType() $temp.getFieldName()){
		this.$temp.getFieldName() = $temp.getFieldName();
	}
	
	#end
 	
}